.sudoku {
  background: #fffffe;
  border: 3px solid #111112;
  border-radius: 1rem;
  overflow: hidden;
  font-family: Helvetica;

  .sudoku-table {
    border-collapse: collapse;

    .sudoku-cell {
      width: 3rem;
      height: 3rem;
      border: 1px solid #555556;
      margin: 0;
      cursor: pointer;
      color: #506dac;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;

      &.sudoku-selected {
        border: 2px solid #506dac;
        background-color: rgba(158, 189, 255, 0.05);

        &.sudoku-error {
          border-color: #f42;
        }
      }

      &.sudoku-clue {
        color: #272712;
        font-weight: 600;

        &.sudoku-error {
          color: #702001;
        }
      }

      &.sudoku-error {
        color: #90103f;
        background-color: rgba(255, 20, 10, .1);
      }
    }
  }
}
